.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Header styles */
.web-link-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #434455;
}

.menu-link:active {
    color: #4D5AE5;
}

.mail-adress,
.phone-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail-adress,
.phone-number:hover,
.mail-adress,
.phone-number:focus {
    color: #434455;
}